.container {
  background: #FFF;
  box-shadow: 0px 1px 12px 0 rgba(0,0,0,0.3);
  padding: 0;
  font-size: 20px;
  max-width: 600px;
  margin: 60px auto;
}

h1 {  
  margin: 30px 10px;
  color: #EAD7D7;
  text-align: center;
  font-size: 4rem;
  line-height: 1.8em;
}

input {
  width: 100%;
  background-color: #f7f7f7;
  padding: 15px 28px;
  box-shadow: none;
  border: 0;
}

input:focus {
  outline: none;
}

.todo-list-container {
  padding: 30px 0 0px;
}

app-todo {
  border-bottom: 1px solid #CCC 
}

.actions {
  padding: 10px;
}
.actions button:focus {
  outline: none;
  box-shadow: none;
}

.actions button:hover  {
  cursor: pointer
}

.actions button:first-of-type {
  margin-left: 18px;
}

.actions span {
  font-size: 0.75em;
  color: #999;
  margin-left: 15px;
  margin-top: 5px;
}

.actions span.float-right {
  margin-right: 15px;
  margin-left: 0;
}
.actions span.float-right:hover {
  cursor: pointer;
}