
.done .text {
  text-decoration: line-through;
  color: #aaaaaa;
}
.done {
  color: #aaaaaa;
}

p {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 8px;
  border-bottom: 1px solid #CCC 
}

i:hover{
  cursor: pointer;
}